@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Prompt:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.dark .stickyAnim {
  @apply bg-black;
}

.light .stickyAnim {
  @apply bg-white;
}

.animateLogo {
  @apply h-20 py-3 px-0 !important;
}

.light #header:has(li):has(ul:hover) {
  background-color: white;
}

.dark #header:has(li):has(ul:hover) {
  background-color: black;
}
@media screen and (max-width: 768px) {
  .animateLogo {
    @apply h-12 py-2 px-0 !important;
  }
  .light #header:has(#mobilMenu) {
    background-color: white;
  }

  .dark #header:has(#mobilMenu) {
    background-color: black;
  }
  body:has(#hamburger:checked) {
    overflow-y: hidden;
  }
}
